.breadcrumb{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px
}

.arrow-icon{
  margin-top: 23px;
}
.route-link{
  background-color: rgb(234, 212, 182);
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.route-link:hover{
  cursor: pointer;
}
