
<div class = "all">
<div class="heading">
    <h2>Buchungen</h2>
    <app-add-booking-complex id="add_button"></app-add-booking-complex>
</div>

<ul class="bookings">
    <app-total-amount id="total-amount"></app-total-amount>
    <table id="bookingsTable">
        <tr>
            <th id="table-head-elements">Datum</th>
            <th id="table-head-elements">Beschreibung</th>
            <th id="table-head-elements">Betrag</th>
            
        </tr>
        
        <tr *ngFor="let booking of bookings">
            <td id="table-element">{{ booking.date }}</td>
            <td id="table-element">{{ booking.description }}</td>
            <td id="table-element" [ngClass]="{'positive': booking.amount > 0, 'negative': booking.amount < 0}">
                {{ booking.amount }} €
            </td>
            <td id="buttons-cells">
                <button (click)="editBooking(booking.id)" id="edit-button"><mat-icon>border_color</mat-icon></button>
                <button (click)="deleteBooking(booking.id)" id="delete-button"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </tr>
    </table>
</ul>
</div>