
<div class = "all-table">
<div class="heading">
    <h2>Buchungen: </h2><h2 id="book-name">{{bookName}}</h2>
    <button (click)="addBookingPressed()" id="add-button"><mat-icon>add_circle</mat-icon></button>
    <app-bookings-table-dialog [openDialog]="openDialog" (dialogIsOpen)="closeDialog($event)"></app-bookings-table-dialog>
</div>

<ul class="bookings">
    <app-total-amount id="total-amount"></app-total-amount>
    <table id="bookings-table">
        <tr>
            <th class="table-head-elements" class="date" (click)="sortTableByDate()" id="date-table-head">Datum <mat-icon id="sorting-icon">sort</mat-icon></th>
            <th class="table-head-elements" class="description">Beschreibung</th>
            <th class="table-head-elements" class="amount" (click)="sortBookingsByAmount()" id="amount-table-head">Betrag <mat-icon id="sorting-icon">sort</mat-icon></th>
        </tr>
        
        <tr *ngFor="let booking of bookings" class="booking-cells">
            <td id="table-element" class="date">{{ displayDate(booking.date) }}</td>
            <td id="table-element" class="description">{{ booking.description }}</td>
            <td id="table-element" class="amount-cell" class="amount" [ngClass]="{'positive': booking.amount > 0, 'negative': booking.amount < 0}">
                {{ booking.amount }} €
            </td>
            <td id="buttons-cells">
                <button (click)="editBooking(booking.id)" id="edit-button"><mat-icon>border_color</mat-icon></button>
                <button (click)="deleteBooking(booking.id)" id="delete-button"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </tr>
    </table>
</ul>
</div>
<br><br><br>
<app-bookings-table-dialog [openDialog]="openDialog" (dialogIsOpen)="closeDialog($event)"></app-bookings-table-dialog>