.all{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: auto;
    width: 50%;
    padding: 10px;
}

td {
    font-size: 23px;
    width: 200px;
}
#earnings, #expenses, #total-amount{
    float: right;
}

#earnings{
    color: green;
}

#expenses{
    color: red;
}

#dashboard-table-div{
    margin-top: 40px;
    width: 800px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(231, 217, 194);
}

#heading{
    margin-top: 30px;
    display: inline;
}
#dashboard-heading{
    display: inline;
    margin-right: 10px;
}
#username-heading{
    display: inline;
    margin-right: 17px;
}
#bookname-heading{
    display: inline;
    font-style: italic;
    color:rgb(161, 142, 118);
}

#time-select{
    margin-top: 20px;
    white-space: nowrap;
    background-color: rgb(231, 217, 194);
    width: 800px;
    padding: 10px;
    border-radius: 10px;
}

#starting-date, #ending-date{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: transparent;
    border-style: solid;
    border-radius: 7px;
    padding-top: 4px;
    border-width: 1px;
}

#between-select{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align:super;
}

#bookings-pie-chart{
    margin-top: 20px;
    background-color: rgb(231, 217, 194);
    width: 800px;
    padding: 10px;
    border-radius: 10px;
}

#bookings-line-chart{
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 100px;
    background-color: rgb(231, 217, 194);
    width: 800px;
    border-radius: 10px;
}

#change-date-button{
    background-color: transparent;
    border: none;
    color: green;
    margin-left: 5px;
    border-radius: 7px;
}
#change-date-button:hover{
    background-color: rgb(207, 197, 183);
}