<div class="all">
    <h1>Dashboard von {{currentUser}}</h1>
    <div id="time-select">
        <form [formGroup]="dateSelectForm" (ngSubmit)="onSubmit()">
            <input type="date" id="starting-date" formControlName="startingDate">
            <p id="between-select">bis</p>
            <input type="date" id="ending-date" formControlName="endingDate">
            <button type="submit" id="change-date-button"><mat-icon>done</mat-icon></button>
        </form>
    </div>

    <div id="bookings-pie-chart">
        <app-bookings-pie-chart id="expenses-chart" [expenses]="expensesList"></app-bookings-pie-chart>
    </div>

    <div id="bookings-line-chart">
        <app-line-graph-chart [bookings]="bookings"></app-line-graph-chart>
    </div>
</div>
