
<dialog id="bookings-dialog" *ngIf="isdialogOpen">
    <form [formGroup]="newBookForm" (ngSubmit)="onSubmit()">

        <table>
            <tr>
                <td><label for="name">Name:</label></td> 
                <td><input type="text" id="name" formControlName="name" class="form-input"></td>
            </tr>

            <tr>
                <td><label for="Kontostand:">Kontostand:</label></td>
                <td><input type="number" id="account-balance" formControlName="accountBalance" class="form-input"></td>
            </tr>
        </table>
        <button (click)="cancelEditing()" id="cancel-button"><mat-icon>close</mat-icon></button>
        <button type="submit" [disabled]="newBookForm.invalid" id="submit-button"><mat-icon>done</mat-icon></button>
    </form>
</dialog>
