body{
    background-color: rgb(248, 186, 106);
}
.all{
    margin-left:10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;

}

#title{
    background-color: cornflowerblue;
    font-size: 40px;
}

#elements{
    font-size: 15px
}
