body{
    background-color: rgb(248, 186, 106);
}
.all{
    margin-left:10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;

}

#header{
    display: flex;
    background-color: cornflowerblue;
}

#home-icon{
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    color: green;
}
#home-menu{
    color: red;
    size: 40px;
}

#elements{
    font-size: 15px
}
