
<dialog id="bookings-dialog" *ngIf="isdialogOpen">
    <form [formGroup]="newBookingForm" (ngSubmit)="onSubmit()">

        <table>
            <tr>
                <td><label for="date">Datum:</label></td> 
                <td><input type="date" id="date" formControlName="date" class="form-input"></td>
            </tr>

            <tr>
                <td><label for="description">Beschreibung:</label></td>
                <td><input type="text" id="description" formControlName="description" class="form-input"></td>
            </tr>
            <tr>
                <td><label for="amount">Betrag:</label></td>
                <td><input type="number" id="amount" formControlName="amount" class="form-input"></td>
            </tr>
        </table>

        <div class="tags">
            <div id="tags-label">Tags: </div>
            <div id="tag" *ngFor="let tag of tags"><div>{{tag}}</div><button type="button" id="delete-tag-button" (click)="deleteTagPressed(tag)"><mat-icon id="delete-tag-icon">close</mat-icon></button></div>
            <button type="button" id="add-tag-button" (click)="addTagPressed()"><mat-icon>add_circle</mat-icon></button>
        </div>


        <button type="submit" [disabled]="newBookingForm.invalid" id="submit-button"><mat-icon>done</mat-icon></button>
        <button type="reset" (click)="cancelEditing()" id="cancel-button"><mat-icon>close</mat-icon></button>
    </form>
</dialog>
<app-tag-dialog [openDialog]="addTagDialogOpen" (dialogIsOpen)="closeTagsDialog($event)"></app-tag-dialog>
