
.form-input{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.tags{
    margin-top: 10px;
}

#bookings-dialog{
    z-index: 2;
    background-color: antiquewhite;
    border-radius: 9px;
    border-color: rgb(220, 195, 162);
    font-size: medium;
    position: fixed;
    width: 400px;
    max-width: 400px;
}

#cancel-button, #submit-button{
    border-radius: 7px;
    float: right;
    background-color: antiquewhite;
    border: none;
}

#cancel-button{
    color:rgb(161, 142, 118);
}
#cancel-button:hover{
    background-color: rgb(207, 197, 183);
}

#submit-button{
    color:green;
    margin-right:7px;
}
#submit-button:disabled{
    color: rgb(99, 104, 99);
    background-color: rgba(207, 197, 183, 0.385);
}
#submit-button:enabled{
    background-color: antiquewhite;
}
#submit-button:enabled:hover{
    background-color: rgb(207, 197, 183);
}

#tags-label{
    margin-top: 5px;
}

#tag{
    margin-top: 5px;
    max-height: 20px;
    display: inline-flex;
    margin-right: 5px;
    background-color: rgb(220, 195, 162);
    padding: 5px 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

#delete-tag-icon{
    display: flex; 
    font-size: 15px;
    width: 15px;
    height: 15px;
}
#delete-tag-button{
    background-color: transparent;
    border:none;
    height: 20px;
    width: 20px;
}

#add-tag-button{
    color:green;
    background-color: transparent;
    border: none;
    border-radius: 7px;
}
#add-tag-button:hover{
    background-color: rgb(207, 197, 183);
}