<h2>Buchungen</h2>
<ul class="bookings">

    <table id="bookingsTable">
        <tr>
            <th>Datum</th>
            <th>Beschreibung</th>
            <th>Betrag</th>
            <th id="total_amount"><app-total-amount></app-total-amount></th>
        </tr>
        
        <tr *ngFor="let booking of bookings">
            <td>{{ booking.date }}</td>
            <td>{{ booking.description }}</td>
            <td [ngClass]="{'positive': booking.amount > 0, 'negative': booking.amount < 0}">
                {{ booking.amount }} €
            </td>
            <td id="buttons">
                <button id="edit-button"><mat-icon> border_color</mat-icon></button>
                <button><mat-icon>delete_forever</mat-icon></button>
            </td>
        </tr>
    </table>
</ul>
