
<div class = "all">
<div class="heading">
    <h2>Buchungen</h2>
    <app-add-booking-complex id="add_button"></app-add-booking-complex>
</div>

<ul class="bookings">

    <table id="bookingsTable">
        <tr>
            <th id="table-head-elements">Datum</th>
            <th id="table-head-elements">Beschreibung</th>
            <th id="table-head-elements">Betrag</th>
            <th id="total_amount"><app-total-amount></app-total-amount></th>
        </tr>
        
        <tr *ngFor="let booking of bookings" id=`{{booking.id}}`>
            <td id="table-element">{{ booking.date }}</td>
            <td id="table-element">{{ booking.description }}</td>
            <td id="table-element" [ngClass]="{'positive': booking.amount > 0, 'negative': booking.amount < 0}">
                {{ booking.amount }} €
            </td>
            <td id="buttons">
                <button id="edit-button"><mat-icon> border_color</mat-icon></button>
                <button (click)="deleteBooking(booking.id)"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </tr>
    </table>
</ul>
</div>