table, th, td{
    font-size: large;
    border: 1px solid black;
    border-collapse: collapse;
}
#total_amount{
    font-weight: normal;
}
.positive {
    color: green;
  }
  
  .negative {
    color: red;
  }