
<div class="all">
    <div class="user-select">
        <h4 id="user-heading">Benutzer: </h4>
        <select id="select" #userSelect (change)="userChanged(userSelect.value)">
            <option id="options" *ngFor="let user of users" value="{{user}}">{{user}}</option>
        </select>
        <button id="add-new-book-button"(click)="addUser()"><mat-icon>add_circle</mat-icon></button>
        <button id="edit-user-button" (click)="editUser()"><mat-icon>border_color</mat-icon></button>
        <app-user-dialog [openDialog]="openUserDialog" (dialogIsOpen)="closeUserDialog($event)"></app-user-dialog>
    </div>
    
    <div class="books">
        <h2 id="heading">Bücher</h2>
        <button (click)="addNewBook()" id="add-new-book-button"><mat-icon>add_circle</mat-icon></button>
        <app-books-dialog [openDialog]="openBooksDialog" (dialogIsOpen)="closeDialog($event)"></app-books-dialog>
    </div>

    <table id="table-list">
        <tr *ngFor="let list of bookingsList" id="bookings-list">
            <td id="table-element" routerLink="/table/{{list.id}}" (click)="updateID(list.id)">{{list.name}}</td>
            <td id="balance-display"><p [ngClass]="{'positive': calculateAccountBalance(list.id) > 0, 'negative': accountBalance < 0}" id="balance-text">{{accountBalance}}€</p></td>
            <td id="buttons">
                <button routerLink="/table/{{list.id}}" (click)="updateID(list.id)" id="open-book"><mat-icon>launch</mat-icon></button>
                <button (click)="editBook(list.id)" id="edit-button"><mat-icon>border_color</mat-icon></button>
                <button (click)="deleteBook(list.id)" id="delete-button"><mat-icon>delete_forever</mat-icon></button>
 
            </td>
        </tr>
    </table>
</div>