.user-select{
    display:flex;
}

.books{
    display: flex;
}

.all{

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: auto;
    width: 50%;
    padding: 10px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(231, 217, 194);
}

.positive{
    color:green;
}
.negative{
    color:red;
}

#user-heading{
    margin-left: 10px;
}

#select{
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align-last: center;
    margin-top: 23px;
    margin-left: 10px;
    width: 175px;
    height: 30px;
    font-size: large;
    background-color: antiquewhite;

    font-family: 'Courier New', Courier, monospace;
}

#edit-user-button{
    margin-left: 7px;
    color: green;
    background-color: rgb(231, 217, 194);
    border: none;
    margin-top: 20px;
    height: 35px;
}
#edit-user-button:hover{
    background-color: rgb(200, 184, 163);
    border-radius: 7px;
}

#heading{
    margin-left: 10px;
}

#table-element{
    cursor:pointer;

    background-color: rgb(220, 195, 162);
    width: 250px;
    max-width: 250px;
    text-align: center;
    hyphens:auto;
    transition: all .1s ease-in-out;
}
#table-element:hover{
    background-color: rgb(234, 212, 182);
    transform: scale(0.99);
}

#balance-display{
    width: 150px;

    background-color: rgb(234, 212, 182);
    margin-right: 50px;
}
#balance-text{
    text-align: center;
}

#add-new-book-button{
    background-color: rgb(231, 217, 194);
    border: none;
    color: green;
    margin-top: 25px;
    height: 35px;
}
#add-new-book-button:hover{
    background-color: rgb(200, 184, 163);
    border-radius: 10px;
}
#table-list{
    margin-left: 10px;
}

#buttons{
    width: 115px;
    background-color: rgb(226, 203, 176);
    margin-right: 50px;
}

#edit-button{
    margin-left: 7px;
    color: green;
    background-color: rgb(230, 202, 167);
    border: none;
}
#edit-button:hover{
    background-color: rgb(200, 184, 163);
    border-radius: 7px;
}

#delete-button{
    color:rgb(161, 142, 118);
    background-color: rgb(230, 202, 167);
    border: none;
}
#delete-button:hover{
    background-color: rgb(200, 184, 163);
    border-radius: 7px;

}

#open-book{
    color:rgb(161, 142, 118);
    background-color: rgb(230, 202, 167);
    border: none;
}
#open-book:hover{
    background-color: rgb(200, 184, 163);
    border-radius: 7px;

}

#bookings-list:last-child #table-element{
    border-bottom-left-radius: 15px;
}
#bookings-list:last-child #buttons{
    border-bottom-right-radius: 15px;
}
#bookings-list:first-child #table-element{
    border-top-left-radius: 15px;
}
#bookings-list:first-child #buttons{
    border-top-right-radius: 15px;
}

#delete-user-button{
  background-color: transparent;
  border: none;
  border-radius: 7px;
  height: 35px;
  margin-top: 20px;
  color:rgb(161, 142, 118);
}

#delete-user-button:hover{
  background-color: rgb(200, 184, 163);
}
