<app-login-dialog [loggedIn]="loggedIn" (loginStatus)="loginDialogClosed($event)"></app-login-dialog>
<div class="all" *ngIf="loggedIn">
    <div class="user-select">
        <h4 id="user-heading">Benutzer: {{currentUser}}</h4>
        <button id="edit-user-button" (click)="editUser()"><mat-icon>border_color</mat-icon></button>
        <app-user-dialog [openDialog]="openUserDialog" (dialogIsOpen)="closeUserDialog($event)"></app-user-dialog>
    </div>

    <div class="books">
        <h2 id="heading">Bücher</h2>
        <button (click)="addNewBook()" id="add-new-book-button"><mat-icon>add_circle</mat-icon></button>
        <app-books-dialog [openDialog]="openBooksDialog" (dialogIsOpen)="closeDialog($event)"></app-books-dialog>
    </div>

    <table id="table-list">
        <tr *ngFor="let list of bookingsList" id="bookings-list">
            <td id="table-element" routerLink="/table/{{list.id}}" (click)="updateID(list.id)">{{list.name}}</td>
            <td id="balance-display"><p [ngClass]="{'positive': calculateAccountBalance(list.id) > 0, 'negative': calculateAccountBalance(list.id) < 0}" id="balance-text">{{calculateAccountBalance(list.id)}}€</p></td>
            <td id="buttons">
                <button routerLink="/table/{{list.id}}" (click)="updateID(list.id)" id="open-book"><mat-icon>launch</mat-icon></button>
                <button (click)="editBook(list.id)" id="edit-button"><mat-icon>border_color</mat-icon></button>
                <button (click)="deleteBook(list.id)" id="delete-button"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </tr>
    </table>
</div>
